<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="valenz.pokemonlist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity" />
        <activity android:name=".ThirdActivity" />
        <activity android:name=".Magmar" />
        <activity android:name=".Charizard" />
        <activity android:name=".Moltres" />
        <activity android:name=".Dugtrio" />
        <activity android:name=".Buyzel" />
        <activity android:name=".Celebi" />
        <activity android:name=".Chikorita" />
        <activity android:name=".Electabuzz" />
        <activity android:name=".Gyarados" />
        <activity android:name=".Lapras" />
        <activity android:name=".Grovyle" />
        <activity android:name=".Raychu" />
        <activity android:name=".Jolteon" />
        <activity android:name=".Marowak" />
        <activity android:name=".Rhydon" />
        <activity android:name=".Chimchar"></activity>
    </application>

</manifest>